<!-- home-page.component.html -->
<app-search></app-search>
<app-or-section></app-or-section>

  <div class="trending-products-section">
    <h2>What's Trending</h2>
    <app-trending-products></app-trending-products>
  </div>
  
  <div class="genz-section">
    <h2>GENZ, ARE YOU IN?</h2>
    <app-genz-categories></app-genz-categories>
  </div>
  
  <div class="promotions-section">
    <app-promotions></app-promotions>
  </div>
  <!-- Other sections of the home page here -->

<footer>
  <app-footer></app-footer>
</footer>