<div class="promotions-container">
    <div class="promotion">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Amazon_Prime_logo.svg/1200px-Amazon_Prime_logo.svg.png" alt="Prime Logo" class="promo-logo">
      <div class="promo-text">
        <p>Free 2-Day Shipping Could Be Yours</p>
        <a href="#" class="promo-link">Link Your Prime Account</a>
      </div>
    </div>
  
    <div class="promotion">
      <img src="https://m.media-amazon.com/images/G/01/Shopbop/p/whitelogo.png" alt="Shopbop Logo" class="promo-logo">
      <div class="promo-text">
        <p>Treat Yourself: 50% Off On Your First App Order</p>
        <a href="#" class="promo-link">Use Code APP15</a>
      </div>
    </div>
  </div>
  